<h3>{{title}} </h3>
<header>
  <a href="/" class='header-link'>Homepage</a>
  <a href="/weather" class='header-link'>Weather</a>
  <a href='/about' class='header-link'>About </a>
  <a href='/help' class='header-link'>Help</a>
</header>
