<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href="css/styles.css">
</head>

  <body>
    <div class='header'>
    {{>header}}
  </div>
      <h1>Looking  for some {{pageName}}?
      </h1>
{{>footer}}
  </body>


</html>
