<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href="css/styles.css">
</head>

  <body>
    <div class='header'>
    {{>header}}
  </div>

      <p> Enter a location for an up to date weather report </p>
      <div id='weather-input-div'>
        <input id='weather-input' type='text' placeholder='Location'>
        <input id='submit' type='submit'>
      </div>
      <div id='forecast-results'></div>
      <div id= 'summary-results'></div>
      <div id='tempHigh'></div>
      <div id= 'tempLow'></div>

{{>footer}}
  </body>

<script src="JS/main.js"></script>
</html>
