<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<style> body{font-family: 'Roboto Condensed', sans-serif;}</style>
</head>

  <body>
    <img src="https://d31s10tn3clc14.cloudfront.net/imgs/deposits/Review+Logos/huntington-logo.jpg">
      <h3>Welcome, Nolan R. Rogers
      </h3>
      <p>
        Click <a href='/brain'>Here</a> to see the contents of your bank acount.
      </p>

  </body>


</html>
