<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href="paul.css">
</head>

  <body>
    <div class='header'>
    {{>header}}
  </div>
      <h1 id='header' onclick="clicker()">About this Website:
      </h1>
      <h1 id='headline'>Paultiplier</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOO0BfgMriwUOrRfEM0jHTaFULNBCl1MrXOQ7I5lAD5R4yqKCwFQ" class='paul-img'>
X
<input type='number' id='numInput'>
<button id='go'>Go</button>

<div id='paul-div'></div>

  <img id='mtn-pic' src="/images/mtns.jpg">
  {{>footer}}
  </body>
  <script src="paul.js">


    </script>

</html>
